%svg-common {
	background: url("svg/sprite.css-2582695b.svg") no-repeat;
}

.svg-middleman-logo {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-middleman-logo-dims {
	width: 500px;
	height: 500px;
}

.svg-polygon {
	@extend %svg-common;
	background-position: 95.23809523809524% 22.24824355971897%;
}

.svg-polygon-dims {
	width: 76px;
	height: 73px;
}

.svg-star {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-star-dims {
	width: 101px;
	height: 95px;
}

